/* SeleccionarProducto.css */
.seleccionar-producto-container {
    max-width: 600px;
    margin: 0 5px 30px;
  }
  
  .categorias-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .tab-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;

    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #6200ea;
    color: white;
  }
  

  
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    gap: 15px;
    max-height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.2s ease, opacity 0.3s ease;
  }

  .productos-grid.animating {
    transform: translateX(-5%); /* Cambia a -100% o 100% según el sentido de la animación */
    opacity: 0;
  }
  
  .productos-grid:not(.animating) {
    transform: translateX(0);
    opacity: 1;
  }

  
  .producto-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .producto-item:hover {
    transform: scale(1.05);
  }
  
  .producto-nombre {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .producto-precio {
    color: #888;
  }
  
  .producto-icono {
    font-size: 1.5rem;
  }
  
  h3.total_tabla {
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin: 0;
}

/* Estilos generales para el contenedor de la tabla */
.table-container {
  overflow-x: auto; /* Permite el scroll horizontal */
  width: 100%; /* Asegura que el contenedor no se desborde */
}

.products-table {
  width: 100%;
  min-width: 480px;
  margin-bottom: 10px;
}

.tabla__prod-nombre input {
  width: 120px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.tabla__prod-nombre:focus {
  width: 200px;
  font-size: 1.2rem;
}
.tabla__prod-cantidad {
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.products-table button:last-child {
  margin-right: 0;
  background: #913a07;
}

.tabla__prod-precio {
  width: 70px;
}

.gastos-table input[type="text"], .gastos-table input[type="number"], .gastos-table select {
  width: 100%;
}


.gastos-table .tabla__prod-cantidad {
  width: 40px;
 }
 .tabla__prod-nombre {
  
 }
 .popup_actions-content td.tabla__prod-cantidad button {
  font-size: 14px;
  padding: 4px 5px;
  display: flex;
}


