/* afacad-flux-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* afacad-flux-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* afacad-flux-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin:0;
}

body, * {
  font-family: 'Afacad Flux';
}
section.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

section.container .nombre-cliente {
  margin: 0 0 20px;
  text-align: center;

}
ul.clientes-activos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}

ul.clientes-activos li {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-content: center;
  cursor: pointer;
}

ul.clientes-activos li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


ul.clientes-activos li .acciones div:nth-child(2n) {
  background: rgb(192, 247, 89);
}

ul.clientes-activos li .acciones div {
  background: rgb(241, 205, 163);
}

ul.clientes-activos li.estadisticas_dia {
    flex-basis: calc(75% - 20px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.products-table button {
  margin: auto 6px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    padding: 6px 10px;
}
.products-table button:last-child {
  margin-right: 0;
  background: #913a07;
}

.nombres_sugerencias {
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0;
  max-height: 100px;
  overflow-x: hidden;
}
.nombres_sugerencias li {
  padding: 5px 6px;
    background-color: #6200ea;
    min-width: 50px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
}
.input_crear_cliente input {
  border-radius: 20px;
  max-width: 80%;
  padding: 3px 10px;
  flex-basis: 75%;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.input_crear_cliente label {
  flex-basis: 20%;
}

.input_crear_cliente {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

header {
  background: #1a1902;
  color: #fff;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
header, main { 
  padding: 15px;
}
.logo {
  width: 85px;
  height: 24px;
}
header, header nav{
  display: flex;
 
}
ul.mainNav {
  font-size: 17px;
  text-transform: uppercase;
}

header nav{
  flex: 2;
  justify-content: space-between;
}
header nav a {
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: none;
}
header nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 0;
  padding: 0;
  align-items: center;
} 

.userNav ul {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background: #1a1902;
  padding: 10px; /* Ocultar el menú hijo por defecto */
}

.userNav:focus-within ul {
  display: block; /* Mostrar el menú cuando .userNavName tiene foco */
}

li.nuevo_cliente a {
  padding: 6px 12px;
  border: 3px solid #d59c1c;
  border-radius: 50px;
}

.globalNav {
  width: 15px;
    height: 22px;
    transform: rotate(180deg);
    fill: #fff;
    width: 10px;
    height: 17px;
}

.userNavName {
  display: flex;
  cursor: pointer;
}
.userNavName h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Para centrar verticalmente en toda la página */
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container div {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos del formulario */
  width: 100%; /* El formulario tomará el 100% del ancho de su contenedor */
  max-width: 400px; /* Para limitar el ancho máximo */
}

.login-container div input, input {
  width: 100%; /* Input tomará todo el ancho del formulario */
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px; /* Un pequeño borde redondeado para estética */
  box-sizing: border-box; /* Para asegurar que el padding no afecte el ancho total */
}

.login-container div button, button {
  padding: 10px;
  width: 100%; /* Botón toma el ancho completo del formulario */
  background-color: #ff5e00; /* Color de fondo del botón */
  color: #fff; /* Color del texto en el botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición en hover */
}

.login-container div button:hover, button:hover {
  background-color: #b94806; /* Color del botón al hacer hover */
}

.login-container p {
  color: red; /* Color del texto de error */
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 15px;
  margin: 15px;
  flex-wrap: wrap;
  position: sticky;
  bottom: 0;
  background: #fff;
  margin-top: auto;
}

button, input {
  width: auto;
}
.actions button, .actions > div {
  margin: 0 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 20px);
  font-size: 1.3rem;
}
.actions > div label {
  font-size: 1.5rem;
  padding: 0 10px;
  line-height: 2;
}
.actions > div label input[type="number"] {
  font-size: 2rem;
}

.actions > div {
  flex-basis: calc(33% - 20px);
}

.actions .valor_total {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.input_crear_cliente {
  display: flex;
  flex-wrap: wrap;
}

.input_crear_cliente label {
  flex-basis: 20%;
}

.button-listo {
  width: 100%;
  font-size: 1.5rem;
}
.ver-clientes .products-table button{
  display: none;
}
.ver-clientes .tabla__prod-cantidad {
  width: 70px;
}

tr.ventas-altas {
  background: #94f774;
}


tr.ventas-mas-altas {
  background: #3feb06;
}
tr.ventas-bajas {
  background: #f36b6b;
}

/* Estilos generales del popup */
.popup-actions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Muestra el popup cuando tiene la clase "active" */
.popup-actions.active {
  display: flex;
}

/* Estilos del contenido del popup */
.popup_actions-content{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup_actions-content h3 {
  margin-bottom: 15px;
}

.popup_actions-content button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para el botón "Sí" */
.popup_actions-content button:first-of-type {
  background-color:  #dc3545;
  color: white;
}
/* Estilo para el botón "No" */
.popup_actions-content button:last-of-type {
  color: white;
}

.container_egresos-form {
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.container_egresos-form input, .container_egresos-form select {
  width: 48%;
  min-height: 40px;
}
.container_egresos-form input[name="descripcion"] {
  width: 100%;
}

.container_egresos .actions button {
  font-size: 0.8rem;
  padding: 10px 5px;
}

.container_egresos .actions {
  margin-bottom: 5px;
  gap: 5px;
}
