/* afacad-flux-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* afacad-flux-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* afacad-flux-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/afacad_flux/afacad-flux-v1-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body, button {
  font-family: 'Afacad Flux';
}

ul.clientes-activos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}

ul.clientes-activos li {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-content: center;

}

ul.clientes-activos li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
ul.clientes-activos li .acciones {
  display: flex;
}
ul.clientes-activos li .acciones div {
  flex: 1 1 calc(33.333% - 20px);
  padding: 20px;
  cursor: pointer;
}

ul.clientes-activos li .acciones div:nth-child(2n) {
  background: rgb(192, 247, 89);
}

ul.clientes-activos li .acciones div {
  background: rgb(241, 205, 163);
}

.nuevo_cliente {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
